
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Auth</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Привет, {{ username }}!</h1>
    {% else %}
        <a id="telegram-login" href="https://t.me/TgTestDjangoBot?start={{ token }}">Войти через Telegram</a>
        <p id="auth-status">Ожидание авторизации...</p>
    {% endif %}

    <script>
        {% if not user.is_authenticated %}
        function checkAuthStatus() {
            console.log("Checking auth status...");  // Отладочное сообщение
            $.ajax({
                url: "{% url 'check_auth_status' %}",
                method: "GET",
                success: function(data) {
                    console.log("Auth status response:", data);  // Отладочное сообщение
                    if (data.is_authenticated) {
                        console.log("User is authenticated, reloading page.");  // Отладочное сообщение
                        location.reload();
                    } else {
                        console.log("User is not authenticated.");  // Отладочное сообщение
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Ошибка при проверке статуса авторизации:", status, error);
                }
            });
        }

        setInterval(checkAuthStatus, 5000); // Проверка каждые 5 секунд
        {% endif %}
    </script>
</body>
</html>
